<a href="https://colab.research.google.com/github/DajeanArcila/DajeanArcila/blob/main/Ml_predi%C3%A7%C3%A3o_credito.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
#trabajo para analisar el credito que pueden aceptarle a los clientes

# Modelo de prediccion de credito para el area financiera

In [61]:
import pandas as pd

# Cargar el conjunto de datos
df = pd.read_csv('/content/dataset_clientes_banco.csv')

# Mostrar las primeras filas del dataframe
print(df.head())

   id_cliente    status  idade     genero  num_dependentes nivel_educacao  \
0           1   vigente     64  masculino                3  pos-graduacao
1           2  retirado     29  masculino                2    fundamental
2           3   vigente     33  masculino                3  pos-graduacao
3           4   vigente     41  masculino                1          medio
4           5   vigente     36   feminino                0       superior

  estado_civil categoria categoria_cartao  tempo_cliente  num_transacoes_6m  \
0       casado         E            black              4                 53
1       casado         A         platinum             14                 85
2     solteiro         A             blue             18                 31
3       casado         A             blue              8                 57
4       casado         B         platinum             10                 45

   salario  valor_total_mensal_entrada  valor_total_mensal_saida  \
0    94225                        4044                      7034
1    65489                        6530                      2381
2   112917                        5992                      4127
3    83721                        4924                      8483
4   115044                        7970                      2208

   creditos_passados  valor_atual_cartao_credito  \
0                  8                        3200
1                  7                       17889
2                  5                       18585
3                  3                       13839
4                  1                       16334

   valor_disponivel_credito_grande
0                            45573
1                            11223
2                            46110
3                            34626
4                            40917

In [62]:

# Obtener información del dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 17 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id_cliente                       2000 non-null   int64
 1   status                           2000 non-null   object
 2   idade                            2000 non-null   int64
 3   genero                           2000 non-null   object
 4   num_dependentes                  2000 non-null   int64
 5   nivel_educacao                   2000 non-null   object
 6   estado_civil                     2000 non-null   object
 7   categoria                        2000 non-null   object
 8   categoria_cartao                 2000 non-null   object
 9   tempo_cliente                    2000 non-null   int64
 10  num_transacoes_6m                2000 non-null   int64
 11  salario                          2000 non-null   int64
 12  valor_total_mensal_entrada       2000 non-null   int64
 13  valor_total_mensal_saida         2000 non-null   int64
 14  creditos_passados                2000 non-null   int64
 15  valor_atual_cartao_credito       2000 non-null   int64
 16  valor_disponivel_credito_grande  2000 non-null   int64
dtypes: int64(11), object(6)
memory usage: 265.8+ KB

In [63]:

# Descripción estadística del dataframe
print(df.describe(include='all'))

         id_cliente   status        idade     genero  num_dependentes  \
count   2000.000000     2000  2000.000000       2000      2000.000000
unique          NaN        2          NaN          2              NaN
top             NaN  vigente          NaN  masculino              NaN
freq            NaN     1016          NaN       1040              NaN
mean    1000.500000      NaN    43.307500        NaN         2.024000
std      577.494589      NaN    14.813057        NaN         1.407983
min        1.000000      NaN    18.000000        NaN         0.000000
25%      500.750000      NaN    31.000000        NaN         1.000000
50%     1000.500000      NaN    43.000000        NaN         2.000000
75%     1500.250000      NaN    56.000000        NaN         3.000000
max     2000.000000      NaN    69.000000        NaN         4.000000

       nivel_educacao estado_civil categoria categoria_cartao  tempo_cliente  \
count            2000         2000      2000             2000    2000.000000
unique              4            4         5                3            NaN
top             medio       casado         A             blue            NaN
freq              532          528       430              688            NaN
mean              NaN          NaN       NaN              NaN      10.316500
std               NaN          NaN       NaN              NaN       5.490665
min               NaN          NaN       NaN              NaN       1.000000
25%               NaN          NaN       NaN              NaN       6.000000
50%               NaN          NaN       NaN              NaN      10.000000
75%               NaN          NaN       NaN              NaN      15.000000
max               NaN          NaN       NaN              NaN      19.000000

        num_transacoes_6m        salario  valor_total_mensal_entrada  \
count         2000.000000    2000.000000                 2000.000000
unique                NaN            NaN                         NaN
top                   NaN            NaN                         NaN
freq                  NaN            NaN                         NaN
mean            48.599000   84257.700500                 5472.377500
std             29.000633   37866.726977                 2622.752938
min              0.000000   20042.000000                 1001.000000
25%             23.000000   51293.750000                 3188.750000
50%             49.000000   83899.500000                 5513.500000
75%             73.000000  116741.750000                 7702.000000
max             99.000000  149878.000000                 9998.000000

        valor_total_mensal_saida  creditos_passados  \
count                2000.000000        2000.000000
unique                       NaN                NaN
top                          NaN                NaN
freq                         NaN                NaN
mean                 5555.603000           4.365500
std                  2640.623502           2.841469
min                  1001.000000           0.000000
25%                  3209.000000           2.000000
50%                  5557.500000           4.000000
75%                  7838.500000           7.000000
max                  9998.000000           9.000000

        valor_atual_cartao_credito  valor_disponivel_credito_grande
count                    2000.0000                      2000.000000
unique                         NaN                              NaN
top                            NaN                              NaN
freq                           NaN                              NaN
mean                    10308.3835                     29931.249000
std                      5615.6623                     11357.030188
min                       503.0000                     10002.000000
25%                      5296.7500                     20229.250000
50%                     10436.0000                     30085.000000
75%                     15091.2500                     39575.500000
max                     19994.0000                     49939.000000

In [64]:
# Mostrar los nombres de las columnas del DataFrame
print(df.columns)

Index(['id_cliente', 'status', 'idade', 'genero', 'num_dependentes',
       'nivel_educacao', 'estado_civil', 'categoria', 'categoria_cartao',
       'tempo_cliente', 'num_transacoes_6m', 'salario',
       'valor_total_mensal_entrada', 'valor_total_mensal_saida',
       'creditos_passados', 'valor_atual_cartao_credito',
       'valor_disponivel_credito_grande'],
      dtype='object')

In [65]:
# Codificar variables categóricas
df = pd.get_dummies(df, columns=['status', 'genero', 'estado_civil', 'categoria', 'categoria_cartao','nivel_educacao'], drop_first=True)
print("Valores nulos después de la limpieza:")
# Verificar valores nulos
print(df.isnull().sum())
#colocamos las variables categoricas aqui para pasarlas a dummies y asi poder hacer un analisis con todos los numeros

Valores nulos después de la limpieza:
id_cliente                         0
idade                              0
num_dependentes                    0
tempo_cliente                      0
num_transacoes_6m                  0
salario                            0
valor_total_mensal_entrada         0
valor_total_mensal_saida           0
creditos_passados                  0
valor_atual_cartao_credito         0
valor_disponivel_credito_grande    0
status_vigente                     0
genero_masculino                   0
estado_civil_divorciado            0
estado_civil_solteiro              0
estado_civil_viuvo                 0
categoria_B                        0
categoria_C                        0
categoria_D                        0
categoria_E                        0
categoria_cartao_blue              0
categoria_cartao_platinum          0
nivel_educacao_medio               0
nivel_educacao_pos-graduacao       0
nivel_educacao_superior            0
dtype: int64

In [ ]:
'''
# Paso 4: Llenar valores nulos restantes en las columnas numéricas
df = df.fillna(df.mean())
'''

In [66]:
# Asegurarse de que todas las columnas categóricas han sido convertidas
print("Columnas después de la conversión de variables dummy:")
print(df.columns)

Columnas después de la conversión de variables dummy:
Index(['id_cliente', 'idade', 'num_dependentes', 'tempo_cliente',
       'num_transacoes_6m', 'salario', 'valor_total_mensal_entrada',
       'valor_total_mensal_saida', 'creditos_passados',
       'valor_atual_cartao_credito', 'valor_disponivel_credito_grande',
       'status_vigente', 'genero_masculino', 'estado_civil_divorciado',
       'estado_civil_solteiro', 'estado_civil_viuvo', 'categoria_B',
       'categoria_C', 'categoria_D', 'categoria_E', 'categoria_cartao_blue',
       'categoria_cartao_platinum', 'nivel_educacao_medio',
       'nivel_educacao_pos-graduacao', 'nivel_educacao_superior'],
      dtype='object')

In [67]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [68]:
# Seleccionar características y objetivo
X = df.drop(['id_cliente', 'valor_atual_cartao_credito'], axis=1)
y = df['valor_atual_cartao_credito']

In [69]:
# Dividir los datos en entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Crear el modelo de regresión lineal
model = LinearRegression()

In [70]:
# Entrenar el modelo
model.fit(X_train, y_train)

LinearRegression()

In [71]:
# Hacer predicciones en el conjunto de prueba
y_pred = model.predict(X_test)

In [72]:
# Calcular métricas de evaluación
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R-squared: {r2}')

Mean Squared Error: 30848011.526797783
R-squared: 0.005287731747993796

# funçao

In [ ]:
def predict_and_save_new_data(new_data, model, output_file='predicciones.xlsx'):
    # Preprocesar nuevos datos de la misma forma que los datos de entrenamiento
    new_data[categorical_columns] = new_data[categorical_columns].fillna('desconocido')
    new_data = pd.get_dummies(new_data, columns=categorical_columns, drop_first=True)
    new_data = new_data.fillna(df.mean())

    # Asegurarse de que las columnas coincidan
    missing_cols = set(X.columns) - set(new_data.columns)
    for col in missing_cols:
        new_data[col] = 0
    new_data = new_data[X.columns]

    # Hacer predicciones
    predicciones = model.predict(new_data)

    # Crear un dataframe de resultados
    resultados = new_data.copy()
    resultados['prediccion_valor_disponivel_credito'] = predicciones

    # Guardar los resultados en un archivo Excel
    resultados.to_excel(output_file, index=False)
    print(f'Resultados guardados en {output_file}')

In [ ]:
# aqui colocamos los datos nuevo para que sean tratados
new_data = pd.read_csv('/path/to/new_data.csv')
predict_and_save_new_data(new_data, model)

In [ ]:
#ahora podemos incluir nuevos datos para definir nuestro valor de saldo pequeno de credito(tarjeta) o credito mayor como um prestamo mas grande
#recuerda tener los datos iguales a los del entreno y que falte esa variable target